
.parallax-effect-glare-scale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background: linear-gradient(10deg, #EC2D22, #F68F1E);
  border-radius: 4px;
  cursor: pointer;

  transform-style: preserve-3d;
}

.inner-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-style: italic;
  color: white;
  transform: translateZ(60px);
}

img{
  width: 80%;
}

@media screen and (max-width: 1000px){
  .parallax-effect-glare-scale{
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 765px){
  .parallax-effect-glare-scale{
    width: 100px;
    height: 100px;
  }
}