@font-face {
    font-family: Galaxy;
    src: url(../../assets/fonts/GhostKidAOE_Pro.ttf);
}


.my-navbar{
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    padding: 1rem 1.5rem;
    font-family: Galaxy;
    position: absolute;
    top: 0;
    left: 0;
}

.left-nav, .right-nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left-nav{
    justify-content: flex-start;
    width: 80%;
}

.left-nav span{
    color: #ecf0f1;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
    transition: 0.2s;
}
.left-nav .nav-link{cursor: pointer; margin-right: 3rem;}
.nav-link svg{ color: white; margin-left: 10px;}
.left-nav span:hover{
    background: -webkit-linear-gradient(#FA7B0A, #FDDF9F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.right-nav{
    width: 40%;
    justify-content: flex-end;
    align-items: center;
}
.social-round{
    border-radius: 0;
    margin: 0 0.5rem;
    display: grid;
    place-items: center;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
}
.social-round a{
    text-decoration: none; 
    color: white;
    font-size: 20px;
    transition: 0.2s;
}
.social-round:hover a{
    transition: 0.2s;
    transform: translateY(-4px);
}





/* ====================================== */
.download-btn {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 200px;
    line-height: 50px;
    padding: 0;
    border-radius: 50px;
    background: -webkit-linear-gradient(70deg,#FA7B0A, #FDDF9F);
    margin: 10px;
    margin-left: 1.5rem;
    transition: .5s;
    box-shadow: 0px 1px 8px 1px #efa666;
}

.download-btn { border: 2px solid #efa666;}


.download-btn:hover span.d-circle {
    left: 100%;
    margin-left: -45px;
}


.download-btn:hover span.d-title {
    left: 40px;
    opacity: 0;
}

.download-btn:hover span.d-title-hover {
    opacity: 1;
    left: 40px;
}

.download-btn span.d-circle {
    display: block;
    color: #fff;
    position: absolute;
    float: left;
    margin: 5px;
    margin-top: 3px;
    line-height: 42px;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    transition: .5s;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.download-btn span.d-circle {
    background-color: rgb(46, 46, 46);
}
.download-btn span.d-title, .download-btn span.d-title-hover {
    position: absolute;
    left: 90px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    transition: .5s;
}

.download-btn span.d-title,
.download-btn span.d-title-hover {
    color: rgb(46, 46, 46);
    left: 80px;
    font-size: 1rem;
    letter-spacing: 2px;
  }

.download-btn span.d-title-hover { left: 80px; opacity: 0; color: rgb(46, 46, 46);}




@media screen and (max-width: 1000px){
    .my-navbar{
        padding: 0;
        justify-content: space-between;
        height: 50px;
    }
    .left-nav{
        width: 100%;
        padding-left: 1rem;
    }
    .left-nav .nav-link{
        margin-right: 1rem;
    }
    .nav-link svg{font-size: 10px;}
    .left-nav span{
        font-size: 10px;
    }


    .download-btn{height: fit-content; width: fit-content; border: none; margin-right: 0.5rem;}
    .download-btn .d-title,.download-btn span.d-title-hover{ display: none;}
    .download-btn span.d-circle{
        position: relative !important;
        margin: 0; 
        background: -webkit-linear-gradient(70deg,#FA7B0A, #FDDF9F);
        height: 30px;
        width: 30px;
    }
    .download-btn:hover span.d-circle {
        left: auto;
        margin: 4px;
    }

    .right-nav{
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column-reverse;
        width: fit-content;
    }
    .social-round{
        width: 2rem;
        height: 2rem;
        margin: 1rem 0.5rem 1rem 1rem;
    }
    .social-round a{
        font-size: 1rem;
    }
  }